.search-content {
    position: absolute;
    background-color: #262626;
    z-index: 11;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%;
    box-shadow: inset 0px 0px 10px 0px rgba(255,255,255,0.2);
  }