@media only screen and (max-width: 600px) {
    #signup_form {
        width: 80vw;
    }
    #signup_formContainer {
        margin-right: 0%;
    }
}

@media only screen and (min-width: 600px) {
    #signup_form {
        width: 20vw;
    }
    #signup_formContainer {
        margin-right: 25%;
    }
}